:root {
  --bck-color: #db524d;
  --bck-nav: #e1716d;
  --nav-color: #fbeeed;
  --white: #ffffff;

  --icon-margin: 0.2rem;
  --nav-margin: 0.7rem;
  --nav-padding-lr: 0.85rem;
  --nav-padding-tb: 0.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bck-color);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

header {
  padding: 0px 12px;
  max-width: 620px;
  margin-left: 20vw;
  margin-right: 20vw;
}
/***************************
  HEADER START
****************************/
a {
  text-decoration: none;
}

a:first-child {
  font-family: menco, sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;

  color: var(--white);
  padding: var(--nav-padding);
}

ul {
  list-style: none;
  display: flex;
}

li {
  font-family: menco, sans-serif;
  font-weight: 500;
  font-style: normal;

  background-color: var(--bck-nav);
  color: var(--nav-color);
  padding: var(--nav-padding-tb) var(--nav-padding-lr) 0.25rem
    var(--nav-padding-lr);
  border-radius: 0.3rem;
}

li a {
  color: var(--nav-color);
}

li:nth-child(1),
li:nth-child(2) {
  margin-right: var(--nav-margin);
}

nav {
  font-family: menco, sans-serif;
  font-weight: 700;
  font-style: normal;

  background-color: inherit;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.15rem solid #c54a45;
}

i {
  margin-right: var(--icon-margin);
}

/***************************
  HEADER END
****************************/

/***************************
  MEDIA QUERIES
****************************/
/* @media screen and (max-width: 905px) {
  header {
    width: 85%;
  }
}

@media screen and (max-width: 600px) {
  nav {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;
  }
} */
