:root {
  --bck-color: #db524d;
  --bck-nav: #e1716d;
  --bck-clock: #df645f;
  --nav-color: #fbeeed;
  --white: #ffffff;
  --active: #be5551;

  --mento-font-family: menco, sans-serif;
  --mento-bold-font-weight: 700;
  --mento-normal-font-weight: 500;
  --mento-font-style: normal;

  --icon-margin: 0.2rem;
  --ul-gap: 0.8rem;
  --nav-padding-lr: 0.85rem;
  --nav-padding-tb: 0.5rem;
  --nav-radius: 0.3rem;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bck-color);
  display: grid;
  grid-template-rows: 1fr auto 1fr;
}

header {
  justify-self: center;
  width: calc(600px + 6 * ((50vw - 600px) / 40));
}
/***************************
  HEADER START
****************************/
a {
  text-decoration: none;
}

.top-nav > a {
  font-family: var(--mento-font-family);
  font-weight: var(--mento-bold-font-weight);
  font-style: var(--mento-font-style);
  font-size: 1.5rem;

  color: var(--white);
  padding: var(--nav-padding);
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--ul-gap);
}

li a {
  font-family: var(--mento-font-family);
  font-weight: var(--mento-normal-font-weight);
  font-style: var(--mento-font-style);

  color: var(--nav-color);
  border-radius: var(--nav-radius);
  background-color: var(--bck-nav);
  padding: var(--nav-padding-tb) var(--nav-padding-lr) 0.25rem
    var(--nav-padding-lr);
}

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.12rem solid #c54a45;
}

i {
  margin-right: var(--icon-margin);
}

/***************************
  HEADER END
****************************/

/***************************
  CLOCK START
****************************/

.clock-container {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(8, 1fr);

  justify-items: center;
  max-width: calc(300px + 6 * ((80vw - 300px) / 40));
  margin: 2.5rem auto;
  padding: 1.7rem 3rem;

  background-color: var(--bck-clock);
  border-radius: 0.5rem;
}

ul:first-child {
  grid-column: 1 / -1;
}

button {
  background-color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

li button {
  font-family: var(--mento-font-family);
  font-weight: var(--mento-normal-font-weight);
  font-style: var(--mento-font-style);
  font-size: 1.1rem;
  color: var(--white);
}

.active {
  font-family: var(--mento-font-family);
  font-weight: var(--mento-bold-font-weight);
  font-style: var(--mento-font-style);

  background-color: var(--active);
  border-radius: var(--nav-radius);
  padding: 0.2rem 0.8rem;
}

time {
  font-family: var(--mento-font-family);
  font-weight: var(--mento-bold-font-weight);
  font-style: var(--mento-font-style);

  font-size: 8rem;
  color: var(--white);
  margin-top: 2.5rem;
  grid-column: 1/-1;
}

.start {
  font-family: var(--mento-font-family);
  font-weight: var(--mento-bold-font-weight);
  font-style: var(--mento-font-style);

  font-size: 1.8rem;
  color: var(--bck-color);
  background-color: var(--white);
  padding: 0.7rem 3.7rem;
  border-radius: var(--nav-radius);
  grid-column: 3/7;
  border-bottom: 0.35rem solid #ebebeb;
}

.start:active {
  border: none;
}
/***************************
  CLOCK END
****************************/

/***************************
  MEDIA QUERIES
****************************/
@media screen and (max-width: 600px) {
  header {
    width: 85%;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;
  }
}

@media screen and (max-width: 460px) {
  .clock-container {
    border-radius: initial;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }
}
