:root {
  --bck-color: #db524d;
  --bck-nav: #e1716d;
  --bck-clock: #df645f;
  --nav-color: #fbeeed;
  --white: #ffffff;
  --active: #be5551;
  --incomplete: #555555;
  --headline: #541c1f;
  --para: #785e60;
  --tex-links-ul-dots: #e96d73;
  --active-op: 0.6;

  --menco-700: normal 700 1rem menco, sans-serif;
  --menco-500: normal 500 1rem menco, sans-serif;
  --menco-300: normal 300 1rem menco, sans-serif;

  --icon-margin: 0.2rem;
  --ul-gap: 0.8rem;
  --nav-padding-lr: 0.85rem;
  --nav-padding-tb: 0.5rem;
  --nav-radius: 0.3rem;
  --tasks-padd: 1rem 0.8rem;
}

* {
  margin: 0;
  padding: 0;
}

/***************************
  TYPOGRAPHY
****************************/
h1,
h2 {
  font: var(--menco-700);
  color: var(--headline);
}

h1 {
  margin: 2.5rem 0;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

.text-part p,
.text-part ul,
ol {
  font: var(--menco-300);
  color: var(--para);
  margin: 1.3rem 0 3rem 0;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

h2::after {
  content: "";
  display: block;
  width: 1.7rem;
  padding-top: 0.2rem;
  border-bottom: 0.3rem solid #f05b56;
  opacity: var(--active-op);
}

body {
  display: grid;
  grid-template-rows: 1fr auto auto;
}

header {
  display: flex;
  justify-content: center;
}

.wrapper,
header {
  background-color: var(--bck-color);
}

/***************************
  HEADER START
****************************/
a {
  text-decoration: none;
}

.top-nav > a {
  font: var(--menco-700);
  font-size: 1.5rem;

  color: var(--white);
  padding: var(--nav-padding);
}

.top-ul,
.clock-container ul,
footer ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: var(--ul-gap);
}

.top-ul li a,
.clock-container li a {
  font: var(--menco-500);

  color: var(--nav-color);
  border-radius: var(--nav-radius);
  background-color: var(--bck-nav);
  padding: var(--nav-padding-tb) var(--nav-padding-lr) 0.25rem
    var(--nav-padding-lr);

  transition: background-color 0.2s;
}

.top-ul li a:hover {
  color: var(--white);
  background-color: #f07773;
}

.top-nav {
  display: flex;
  justify-self: center;
  width: calc(600px + 6 * ((50vw - 600px) / 40));
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 0.12rem solid #c54a45;
}

nav a i {
  margin-right: var(--icon-margin);
}

/***************************
  HEADER END
****************************/

/***************************
  CLOCK START
****************************/

.clock-container {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(8, 1fr);

  justify-items: center;
  max-width: calc(450px + 3 * ((65vw - 450px) / 30));
  margin: 0 auto 1.5rem auto;
  padding: 1.4rem 0;

  background-color: var(--bck-clock);
  border-radius: 0.5rem;
}

ul:first-child {
  grid-column: 1 / -1;
}

button {
  background-color: inherit;
  border: none;
}

button:hover {
  cursor: pointer;
}

li button {
  font: var(--menco-500);
  font-size: 1.1rem;
  color: var(--white);
}

.active {
  font: var(--menco-700);

  background-color: var(--active);
  border-radius: var(--nav-radius);
  padding: 0.2rem 0.8rem;
}

.clock-container time {
  font: var(--menco-700);

  font-size: 8rem;
  color: var(--white);
  margin-top: 2rem;
  grid-column: 1/-1;
}

.start {
  font: var(--menco-700);

  font-size: 1.8rem;
  color: var(--bck-color);
  background-color: var(--white);
  padding: 0.7rem 3.7rem;
  border-radius: var(--nav-radius);
  grid-column: 3/7;
}

.unclicked {
  border-bottom: 0.35rem solid #ebebeb;
}

.clicked {
  border: none;
  padding: 0.7rem 4rem;
}
/***************************
  CLOCK END
****************************/

/***************************
  TASKBAR START
****************************/
.tasks {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(8, 1fr);

  max-width: calc(450px + 3 * ((65vw - 450px) / 30));
  margin: 0 auto 0 auto;
}

.tasks > p {
  grid-column: 3/7;
  justify-self: center;
  font: var(--menco-500);
}

.tasks > p:first-child {
  color: var(--white);
  opacity: var(--active-op);
}

.tasks > p:nth-child(2) {
  color: var(--white);
  font-size: 1.4rem;
  margin-top: 0.3rem;
}

.taskbar {
  display: flex;
  justify-content: space-between;
  grid-column: 1 / -1;
  margin-top: 1.5rem;
  align-items: center;
  color: var(--white);

  padding-bottom: 0.7rem;
  border-bottom: 0.14rem solid #f0bab8;
}

.taskbar p:first-child {
  font: var(--menco-700);
  font-size: 1.4rem;
}

.fa-ellipsis-v {
  padding: 0.5rem 0.8rem;
  border-radius: var(--nav-radius);
}

.fa-ellipsis-v:hover {
  cursor: pointer;
}

.taskbar .fa-ellipsis-v {
  background-color: var(--bck-nav);
}

.taskbar .fa-ellipsis-v:hover {
  background-color: #e27571;
}

.task-desc .fa-ellipsis-v {
  color: #989898;
  border: 0.1rem solid #989898;
}

/***************************
  TASKBAR END
****************************/

/***************************
  TASKBAR BUTTONS START
****************************/
.task-desc {
  display: flex;
  grid-column: 1/-1;
  justify-content: space-between;

  margin-bottom: 0.5rem;
  background-color: var(--white);
  padding: var(--tasks-padd);
  border-radius: var(--nav-radius);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px;
}

.task-inc {
  border-left: 0.4rem solid #222222;
  margin-top: 1.7rem;
}

.half {
  display: flex;
  align-items: center;
  font: var(--menco-700);
}

.half .fa-check-circle:hover {
  opacity: var(--active-op);
}

.task-desc .fa-check-circle {
  font-size: 1.7rem;
  margin-right: 0.6rem;
}

.half .fa-ellipsis-v:hover {
  background-color: rgb(223, 223, 223);
}

.half p {
  font-size: 1.2rem;
  margin-top: 0.25rem;
}

.half p:first-child {
  color: var(--incomplete);
  margin-right: 1.5rem;
}

.task-inc p {
  color: var(--incomplete);
}

.task-inc .fa-check-circle {
  color: #dfdfdf;
}

.task-com:hover {
  border-left: 0.4rem solid #2222224f;
}

.task-com p:nth-child(2) {
  color: #cacaca;
  text-decoration: line-through;
}

.task-com .fa-check-circle {
  color: var(--bck-color);
}

.half span {
  font-size: 0.9rem;
}

.task-add {
  display: flex;
  grid-column: 1/-1;
  justify-content: center;
  padding: var(--tasks-padd);
  background-color: rgba(0, 0, 0, 0.1);
  color: var(--white);
  font: var(--menco-700);
  font-size: 1.3rem;
  opacity: var(--active-op);
  margin-top: 0.2rem;

  border: 0.15rem dashed rgba(255, 255, 255, 0.4);
  border-radius: var(--nav-radius);
}

.task-add:hover {
  opacity: 1;
}

.task-add .fa-plus-circle {
  margin-right: 0.5rem;
  margin-top: -0.15rem;
}

/***************************
  TASKBAR BUTTONS END
****************************/

/***************************
  EST TIME START
****************************/
.timer {
  display: flex;
  grid-column: 1/-1;
  justify-content: center;
  font: var(--menco-700);
  color: #f4c9c7;
  font-size: 1rem;

  margin-top: 2rem;
  border-top: 0.1rem solid #f0bab8;
  background-color: var(--bck-clock);
  padding: var(--tasks-padd);
}

.number {
  font-size: 2rem;
  margin-left: 0.2rem;
  color: white;
}

span.number {
  margin-right: 1rem;
}
/***************************
  EST TIME END
****************************/

/***************************
  TEXT-PART START
****************************/
.wrapper {
  padding-top: 2.5rem;
  padding-bottom: 3rem;
}

.text-part {
  max-width: calc(600px + 3 * ((65vw - 600px) / 30));
  margin: auto;
}

.text-part ul li::marker {
  color: var(--tex-links-ul-dots);
}

.text-part ul,
ol {
  padding-left: 2.5rem;
}

.link {
  font: var(--menco-700);
  font-size: 1.3rem;
  color: var(--tex-links-ul-dots);
}

.link:hover {
  text-decoration: underline;
}

/***************************
  TEXT-PART END
****************************/

/***************************
  FOOTER START
****************************/
footer {
  justify-self: center;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border-top: 0.15rem solid #efefef;
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

footer ul a {
  font: var(--menco-700);
  color: var(--para);
}

footer ul a:hover {
  opacity: var(--active-op);
}

footer p,
small {
  font: var(--menco-300);
  color: var(--para);
}

footer p:nth-of-type(2) {
  margin-top: -0.5rem;
}

small {
  font-size: 0.8rem;
  margin-top: 0.5rem;
}

footer .link {
  font-size: 1.2rem;
}

.social {
  font-size: 2.5rem;
}

.social a {
  color: #999999;
}

.social i:hover {
  opacity: var(--active-op);
}

.fa-facebook,
.fa-twitter {
  margin-right: var(--icon-margin);
}

/***************************
  FOOTER END
****************************/

/***************************
  MEDIA QUERIES
****************************/
@media screen and (max-width: 630px) {
  .top-nav {
    width: 85%;
  }
  nav {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1rem;
  }

  .text-part {
    margin: 0 0.8rem;
  }
}

@media screen and (max-width: 460px) {
  .clock-container {
    border-radius: initial;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .tasks {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
  }

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  .text-part p {
    font-size: 1.1rem;
  }

  .text-part a {
    font-size: 1.2rem;
  }
}
